@font-face
  font-family 'GanjNamehSans'
  src url('../fonts/GanjNamehSans-Regular.otf') format('otf'), url('../fonts/GanjNamehSans-Regular.woff') format('woff'), url('../fonts/GanjNamehSans-Regular.woff2') format('woff2'), url('../fonts/GanjNamehSans-Regular.ttf') format('truetype')

*
  font-family 'GanjNamehSans', 'B Yekan', 'Arial', 'Tahoma', 'Calibri'

section.content
  min-height 71.35%

.ltr
  direction ltr !important

.rtl
  direction rtl !important

textarea
  min-height 100px
  max-width 100%

.hand-cursor
  cursor hand

a.dash-decoration
  border-bottom 1px dotted
  &:hover
    text-decoration none

.border-left
  border-left 1px solid rgba(0, 0, 0, 0.05)

.navbar
  border-radius 0

img.captcha
  width 120px
  height 34px

.navbar-header a.navbar-brand
  margin-top -12px
  margin-bottom -20px
  h6
    color #ccc

footer
  padding 5px
  background #6d717a
  p
    margin 0
  a
    color #fff
    &:hover, &:focus
      color #d6d6d6
      text-decoration none
  h6
    color #ddd

.navbar-form
  .form-group, button
    margin-left 10px

.btn-toggle
  margin-top -2px
  padding 5px
  &.margin-left
    margin-left 5px

span.name
  margin-right 15px

.angular-ui-tree-handle
  background #f8faff
  border 1px solid #dae2ea
  color #7c9eb2
  padding 10px 10px

.angular-ui-tree-placeholder
  background #f0f9ff
  border 2px dashed #bed2db
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

tr.angular-ui-tree-empty
  height 100px

.tree-node
  border 1px solid #dae2ea
  background #f8faff
  color #7c9eb2
  margin-bottom 5px

.tree-handle
  margin -1px
  background #428bca
  color #FFF

.tree-node-content
  margin 7px

.div-center
  float none
  margin-right auto
  margin-left auto

input[type="checkbox"]
  width 1.5em
  height 1.5em
  cursor pointer

.checkbox-text
  line-height 2.05em
  cursor pointer

.non-float
  float none

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
  color #31708f
  background-color #d9edf7
  border 1px dotted #bce8f1

.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:before
  border-bottom 5px solid #a96a00

.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:after
  border-bottom 8px solid #a96a00
  border-left 5px solid transparent
  border-right 5px solid transparent
  top 5px

.sp-thumbnails-container
  direction ltr

.category
  border-top 1px solid #ddd
  margin-top 5px
  padding 0

.open > .dropdown-toggle > .caret
  border-top none
  border-bottom 4px dashed

#my-awesome-dropzone
  border 2px dashed #455e84
  border-radius 5px

.dropzone
  min-height 120px

.dropzone .dz-preview .dz-error-message:before
  content ''
  position absolute
  top 49px
  left 64px
  width 0
  height 0
  border-left 6px solid transparent
  border-right 6px solid transparent
  border-top 6px solid #be2626

.dropzone .dz-preview .dz-error-message:after
  display none

.dropzone .dz-preview .dz-error-message
  top -55px

.dz-hidden-input
  display none !important

.ajax-loader
  display none
  z-index 99999
  position absolute

@media (min-width: 768px)
  .category
    margin-right -15px
    margin-left -15px
