@font-face
  font-family 'GanjNamehSans'
  src url('../fonts/GanjNamehSans-Regular.otf') format('otf'), url('../fonts/GanjNamehSans-Regular.woff') format('woff'), url('../fonts/GanjNamehSans-Regular.woff2') format('woff2'), url('../fonts/GanjNamehSans-Regular.ttf') format('truetype')

*
  font-family 'GanjNamehSans', 'B Yekan', 'Arial', 'Tahoma', 'Time new Romance'

a.dash-decoration
  border-bottom 1px dotted

a.dash-decoration:hover
  text-decoration none

.border-left
  border-left 1px solid rgba(0, 0, 0, 0.05)

.navbar
  border-radius 0
  margin 0 0 5px 0

img.captcha
  width 120px
  height 34px

.navbar-header a.navbar-brand
  margin-top -12px
  margin-bottom -20px
  h6
    color #ccc

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.btn
  margin-right 8px
  padding 5px

.angular-ui-tree-handle
  background #f8faff
  border 1px solid #dae2ea
  color #7c9eb2
  padding 10px 10px

.angular-ui-tree-placeholder
  background #f0f9ff
  border 2px dashed #bed2db
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

tr.angular-ui-tree-empty
  height 100px

.tree-node
  border 1px solid #dae2ea
  background #f8faff
  color #7c9eb2
  margin-bottom 5px

.tree-handle
  padding 12px
  margin -1px
  margin-right 5px
  background #428bca
  color #FFF

.tree-node-content
  margin 7px

.div-center
  float none
  margin-right auto
  margin-left auto

input[type="checkbox"]
  width 1.5em
  height 1.5em
  cursor pointer

.checkbox-text
  line-height 2.05em
  cursor pointer

.non-float
  float none