@font-face {
  font-family: 'GanjNamehSans';
  src: url("../fonts/GanjNamehSans-Regular.otf") format('otf'), url("../fonts/GanjNamehSans-Regular.woff") format('woff'), url("../fonts/GanjNamehSans-Regular.woff2") format('woff2'), url("../fonts/GanjNamehSans-Regular.ttf") format('truetype');
}
* {
  font-family: 'GanjNamehSans', 'B Yekan', 'Arial', 'Tahoma', 'Calibri';
}
section.content {
  min-height: 71.35%;
}
a.dash-decoration {
  border-bottom: 1px dotted;
}
a.dash-decoration:hover {
  text-decoration: none;
}
.border-left {
  border-left: 1px solid rgba(0,0,0,0.05);
}
.navbar {
  border-radius: 0;
}
img.captcha {
  width: 120px;
  height: 34px;
}
.navbar-header a.navbar-brand {
  margin-top: -12px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer {
  padding: 5px;
  background: #6d717a;
}
footer p {
  margin: 0;
}
footer a {
  color: #fff;
}
footer a:hover,
footer a:focus {
  color: #d6d6d6;
  text-decoration: none;
}
footer h6 {
  color: #ddd;
}
.navbar-form .form-group,
.navbar-form button {
  margin-left: 10px;
}
.btn-toggle {
  margin-top: -2px;
  padding: 5px;
}
.btn-toggle.margin-left {
  margin-left: 5px;
}
span.name {
  margin-right: 15px;
}
.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}
.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
tr.angular-ui-tree-empty {
  height: 100px;
}
.tree-node {
  border: 1px solid #dae2ea;
  background: #f8faff;
  color: #7c9eb2;
  margin-bottom: 5px;
}
.tree-handle {
  margin: -1px;
  background: #428bca;
  color: #fff;
}
.tree-node-content {
  margin: 7px;
}
.div-center {
  float: none;
  margin-right: auto;
  margin-left: auto;
}
input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}
.checkbox-text {
  line-height: 2.05em;
  cursor: pointer;
}
.non-float {
  float: none;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #31708f;
  background-color: #d9edf7;
  border: 1px dotted #bce8f1;
}
.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
  border-bottom: 5px solid #a96a00;
}
.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
  border-bottom: 8px solid #a96a00;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 5px;
}
.sp-thumbnails-container {
  direction: ltr;
}
.category {
  border-top: 1px solid #ddd;
  margin-top: 5px;
  padding: 0;
}
.open > .dropdown-toggle > .caret {
  border-top: none;
  border-bottom: 4px dashed;
}
@media (min-width: 768px) {
  .category {
    margin-right: -15px;
    margin-left: -15px;
  }
}
