
ul.nav.nav-pills.nav-stacked
    li
        a(href="/admin/users")= !!texts ? texts.Users : "Users"
    li
        a(href="/admin/category")= !!texts ? texts.Category : "Category"
    li
        a(href="/admin/product")= !!texts ? texts.Product : "Product"