div(style="width: 70%; font-family: 'B Yekan', Arial, Tahoma; min-height: 400px; margin: 15px auto; background: #f5f5f5; direction: rtl !important; text-align: right;")
    .email-log
    div(style="font-size: 2em; font-weight: bold; background: #ababab; padding: 10px;")
        span= !!texts ? texts.SuccessChangedPassword : "Success changed password"
    div(style="padding: 20px")
        p= (!!texts ? texts.DearUser : "Dear user") + " : " + Username
        p= !!texts ? texts.SuccessChangePasswordEmailBody : ""
        p
            span= (!!texts ? texts.Date : "Date") + " : "
            span= Date
        p
            b= !!texts ? texts.PleaseClickThisLinkForLogin : "Please click this link for login : "
        a(style="text-decoration: none;", href= Url)= !!texts ? texts.Login : "Log in"
    .email-footer
        p= !!texts ? texts.MoreInfo : "More Info"