.well
    .col-xs-12.col-md-8.col-lg-6.text-center.div-center
        form.form-horizontal(name="changePasswordForm")
            fieldset
                legend.text-center
                    p.glyphicon.glyphicon-refresh
                    p= !!texts ? texts.ChangePassword : "Change Password"
                .form-group
                    label.col-sm-3.control-label(for="currentPassword")= (!!texts ? texts.CurrentPassword : "Current Password") + " : "
                    .col-sm-9
                        input.form-control(name="currentPassword", type="password", placeholder= !!texts ? texts.CurrentPassword : "Current Password", ng-model="currentPassword", required)
                .form-group
                    label.col-sm-3.control-label(for="password")= (!!texts ? texts.Password : "Password") + " : "
                    .col-sm-9
                        input.form-control(name="password", type="password", placeholder= !!texts ? texts.Password : "Password", ng-model="password", required)
                .form-group
                    label.col-sm-3.control-label(for="confirmPassword")= (!!texts ? texts.ConfirmPassword : "Confirm Password") + " : "
                    .col-sm-9
                        input.form-control(name="confirmPassword", type="password", placeholder= !!texts ? texts.ConfirmPassword : "Confirm Password", ng-model="confirmPassword", required)
                .form-group
                    label.col-sm-3.control-label(for="captcha")= (!!texts ? texts.Captcha : "Captcha") + " : "
                    .col-sm-5
                        img.captcha(src="/captcha")
                        button.btn.btn-default.btn-refresh(name="captcha", type="button", ng-click="refreshCaptcha()")
                            span.glyphicon.glyphicon-refresh
                    .col-sm-4
                        input.form-control(name="captcha", type="text", placeholder= !!texts ? texts.Captcha : "Captcha", ng-model="captcha", maxlength="5", required)
                .form-group
                    .col-xs-12.pull-left
                        button.btn.btn-primary(ng-click="changePassword()", ng-disabled="changePasswordForm.$invalid")= !!texts ? texts.Change : "Change"
                        | &nbsp;
                        a.btn.btn-default(href="/")= !!texts ? texts.Cancel : "Cancel"