.well
    .col-xs-12.col-md-8.col-lg-6.text-center.div-center
        form.form-horizontal(name="forgotPasswordForm")
            fieldset
                legend.text-center
                    p.glyphicon.glyphicon-refresh
                    p= !!texts ? texts.RememberPassword : "Remember Password"
                .form-group
                    label.col-sm-3.control-label(for="email")= (!!texts ? texts.Email : "Email") + " : "
                    .col-sm-9
                        input.form-control(name="email", type="email", placeholder= !!texts ? texts.Email : "Email", ng-model="username", required)
                .form-group
                    label.col-sm-3.control-label(for="captcha")= (!!texts ? texts.Captcha : "Captcha") + " : "
                    .col-sm-5
                        img.captcha(src="/captcha")
                        button.btn.btn-default.btn-refresh(name="captcha", type="button", ng-click="refreshCaptcha()")
                            span.glyphicon.glyphicon-refresh
                    .col-sm-4
                        input.form-control(name="captcha", type="text", placeholder= !!texts ? texts.Captcha : "Captcha", ng-model="captcha", maxlength="5", required)
                .form-group
                    .col-xs-12.pull-left
                        button.btn.btn-primary(ng-click="forgotPassword()", ng-disabled="forgotPasswordForm.$invalid")= !!texts ? texts.ResetPassword : "Reset Password"
                        | &nbsp;
                        a.btn.btn-default(href="/signin")= !!texts ? texts.Cancel : "Cancel"

.alert.alert-info.col-xs-12.text-center.div-center
    span= !!texts ? texts.NotRegisteredBefore : "Previously not registered?"
    | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    a.dash-decoration.text-info(href="/signup")= !!texts ? texts.RegisterInSite : "Register in site"