.navbar-left(ng-controller="mvNavbarCtrl")
    ul.nav.navbar-nav.navbar-left(ng-hide="identity.isAuthenticated()")
        li
            a(href="/signin")= !!texts ? texts.Login : "Log in"
        li
            a(href="/signup")= !!texts ? texts.Signup : "Sign up"
    ul.nav.navbar-nav.navbar-left(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{ identity.currentUser.FirstName + " " + identity.currentUser.LastName }}
                b.caret
            ul.dropdown-menu
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="/admin/users") User Admin
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="/admin/category") Category
                li
                    a(href="/profile") Profile
                li
                    a(href="", ng-click="logout()") Sign Out