.well
    .col-xs-12.col-md-8.col-lg-6.text-center.div-center
        form.form-horizontal(name="resetPasswordForm")
            fieldset
                legend.text-center
                    p.glyphicon.glyphicon-refresh
                    p= !!texts ? texts.ResetPassword : "Reset Password"
                .form-group
                    label.col-sm-3.control-label= (!!texts ? texts.Email : "Email") + " : "
                    label.col-sm-9.control-label {{ Username }}
                .form-group
                    label.col-sm-3.control-label(for="password")= (!!texts ? texts.Password : "Password") + " : "
                    .col-sm-9
                        input.form-control(name="password", type="password", placeholder=!!texts ? texts.Password : "password", ng-model="password", required)
                .form-group
                    label.col-sm-3.control-label(for="confirmPassword")= (!!texts ? texts.ConfirmPassword : "Confirm Password") + " : "
                    .col-sm-9
                        input.form-control(name="confirmPassword", type="password", placeholder=!!texts ? texts.ConfirmPassword : "Confirm Password", ng-model="confirmPassword", required)
                .form-group
                    label.col-sm-3.control-label(for="captcha")= (!!texts ? texts.Captcha : "Captcha") + " : "
                    .col-sm-5
                        img.captcha(src="/captcha")
                        button.btn.btn-default.btn-refresh(name="captcha", type="button", ng-click="refreshCaptcha()")
                            span.glyphicon.glyphicon-refresh
                    .col-sm-4
                        input.form-control(name="captcha", type="text", placeholder= !!texts ? texts.Captcha : "Captcha", ng-model="captcha", maxlength="5", required)
                .form-group
                    .col-xs-12.pull-left
                        button.btn.btn-primary(ng-click="resetPassword()", ng-disabled="resetPasswordForm.$invalid")= !!texts ? texts.ChangePassword : "Change Password"
                        | &nbsp;
                        a.btn.btn-default(href="/")= !!texts ? texts.Cancel : "Cancel"

.alert.alert-info.col-xs-12.text-center.div-center
    span= !!texts ? texts.NotRegisteredBefore : "Previously not registered?"
    | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    a.dash-decoration.text-info(href="/signup")= !!texts ? texts.RegisterInSite : "Register in site"