.well.col-xs-12.text-center.div-center
    form.form-horizontal(name="signupForm")
        fieldset
            legend.text-center
                p.glyphicon.glyphicon-registration-mark
                p= !!texts ? texts.SignUpHeader : "New User Information"
            .col-xs-12.col-sm-6.border-left
                .form-group
                    label.col-sm-3.control-label(for="email")= (!!texts ? texts.Email : "Email") + " : "
                    .col-sm-9
                        input.form-control(name="email", type="email", placeholder=!!texts ? texts.Email : "Email", ng-model="email", required)
                .form-group
                    label.col-sm-3.control-label(for="password")= (!!texts ? texts.Password : "Password") + " : "
                    .col-sm-9
                        input.form-control(name="password", type="password", placeholder=!!texts ? texts.Password : "password", ng-model="password", required)
                .form-group
                    label.col-sm-3.control-label(for="firstName") First Name
                    .col-sm-9
                        input.form-control(name="firstName", type="text", placeholder="First Name", ng-model="firstName", required)
                .form-group
                    label.col-sm-3.control-label(for="lastName") Last Name
                    .col-sm-9
                        input.form-control(name="lastName", type="text", placeholder="Last Name", ng-model="lastName", required)
                .form-group
                    label.col-sm-3.control-label(for="captcha")= (!!texts ? texts.Captcha : "Captcha") + " : "
                    .col-sm-5
                        img.captcha(src="/captcha?123456")
                        button.btn.btn-default.btn-refresh(name="captcha", type="button", ng-click="refreshCaptcha()")
                            span.glyphicon.glyphicon-refresh
                    .col-sm-4
                        input.form-control(name="captcha", type="text", placeholder= !!texts ? texts.Captcha : "Captcha", ng-model="captcha", maxlength="5", required)
                .form-group
                    .col-xs-12.pull-left
                        button.btn.btn-primary(ng-click="signup()", ng-disabled="signupForm.$invalid")= !!texts ? texts.SignUp : "Sign Up"
                        | &nbsp;
                        a.btn.btn-default(href="/")= !!texts ? texts.Cancel : "Cancel"

.alert.alert-info.col-xs-12.text-center.div-center
    span= !!texts ? texts.AlreadyRegistered : "Already registered?"
    | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    a.dash-decoration.text-info(href="/signin")= !!texts ? texts.LoginSite : "Log in site"